{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link
      href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css\OwlCarousel2-2.3.4\dist\assets\owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css\OwlCarousel2-2.3.4\dist\assets\owl.theme.default.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/Event_News.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resultSearch.css' %}" />
    <style>
      :root {
        overflow-x: hidden;
      }

      .greenRectTop {
        width: 570px;
        height: 150px;
        border: 5px solid #9cd38d;
        border-radius: 30px;
        position: absolute;
        top: -130px;
        left: 150px;
      }

      .greenRectBottom {
        width: 570px;
        height: 150px;
        border: 5px solid #9cd38d;
        border-radius: 30px;
        position: absolute;
        top: 60px;
        right: -40px;
        z-index: 0;
      }

      .whatsapp {
        width: 70px;
        height: 70px;
        position: fixed;
        /* z-index: 99999; */
        background-color: #61a870;
        border-radius: 50%;
        bottom: 40px;
        right: 40px;
        z-index: 999;
      }
    </style>
  </head>
  <body>
    <a aria-label="Chat on WhatsApp" href="https://wa.me/+989300615268">
      <div
        style="display: flex; justify-content: center; align-items: center"
        class="whatsapp"
      >
        <i class="fab fa-whatsapp" style="color: white; font-size: 2.5em"></i>
      </div>
    </a>
    <!-- destroy in other sizes -->
    <header class="px-2 text-bg-white" style="background-color: #f4f4f4">
      <div class="container-fluid pl-0" style="padding-left: 0">
        <div class="greenRectTop"></div>
        <div class="greenRectBottom"></div>
        <div
          class="d-flex flex-wrap align-items-center justify-content-between"
        >
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="{% url 'enhome' %}"
              class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
              <img
                src="{% static 'img/logoKgs.png' %}"
                class="me-4"
                style="
                  width: 120px;
                  height: 90px;
                  background-color: none;
                  position: relative;
                  z-index: 1001;
                  top: 8px;
                  left: 5px;
                "
              />
              <div
                style="
                  background-color: white;
                  border-radius: 50%;
                  position: absolute;
                  width: 106px;
                  height: 80px;
                  top: 41px;
                  left: -3px;
                  z-index: 1000;
                "
              ></div>
            </a>

            <ul
              class="nav col-12 col-lg-auto mb-2 mb-md-0"
              style="position: relative; top: 12px; gap: 20px"
            >
              <!-- <li>
                      <a href="{% url 'enhome' %}" class="nav-link px-3 text-secondary"
                        >Home</a
                      >
                    </li> -->
              <!-- <li>
                <div class="btn-group nav-link">
                  <a
                    style="font-size: 1.4em; color: #4d4c4c"
                    class="text-decoration-none pl-3"
                    href="#certificates"
                    >Certificate</a
                  >
                </div>
              </li> -->

              <!-- <li><a href="#" class="nav-link px-2 text-black">Pricing</a></li> -->
              <!--            <li>-->
              <!--              <a href="{% url 'FAQs' %}" class="nav-link px-3 text-black"-->
              <!--                >FAQs</a-->
              <!--              >-->
              <!--            </li>-->

              <li>
                <div class="btn-group nav-link">
                  <!-- <button type="button" class="btn btn-danger" href="#products">Products</button> -->
                  <a
                    style="font-size: 1.4em; color: #4d4c4c"
                    class="text-decoration-none pl-3"
                    href="{% url 'products' %}"
                    >Products</a
                  >
                  <!--                        <button-->
                  <!--                                type="button"-->
                  <!--                                class="btn btn-dark dropdown-toggle p-0"-->
                  <!--                                data-bs-toggle="dropdown"-->
                  <!--                                aria-expanded="false"-->
                  <!--                        ></button>-->
                  <!--                        <ul class="dropdown-menu">-->
                  <!--                            <li>-->
                  <!--                                <a class="dropdown-item" href="{% url 'products' %}#type1"-->
                  <!--                                >Type 1</a-->
                  <!--                                >-->
                  <!--                            </li>-->
                  <!--                            <li>-->
                  <!--                                <a class="dropdown-item" href="{% url 'products' %}#type2"-->
                  <!--                                >Type 2</a-->
                  <!--                                >-->
                  <!--                            </li>-->
                  <!--                            <li>-->
                  <!--                                <a class="dropdown-item" href="{% url 'products' %}#type3"-->
                  <!--                                >Type 3</a-->
                  <!--                                >-->
                  <!--                            </li>-->
                  <!--                            &lt;!&ndash; <li><hr class="dropdown-divider" /></li>-->
                  <!--                            <li>-->
                  <!--                              <a class="dropdown-item" href="#">Separated link</a>-->
                  <!--                            </li> &ndash;&gt;-->
                  <!--                        </ul>-->
                </div>
              </li>

              <div class="btn-group nav-link">
                <!-- <button type="button" class="btn btn-danger" href="#products">Products</button> -->
                <a
                  style="font-size: 1.4em; color: #4d4c4c"
                  class="text-decoration-none pl-3"
                  href="{% url 'AboutUs' %}"
                  >About</a
                >
                <!--                    <button-->
                <!--                            type="button"-->
                <!--                            class="btn btn-dark dropdown-toggle p-0"-->
                <!--                            data-bs-toggle="dropdown"-->
                <!--                            aria-expanded="false"-->
                <!--                    ></button>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t1"-->
                <!--                            >About Catalog-Z Website Template</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t2"-->
                <!--                            >Left side of 2-Column content</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t3"-->
                <!--                            >Right-side Title goes here</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t4"-->
                <!--                            >Three-column title one</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t5"-->
                <!--                            >Title two of three-column</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a class="dropdown-item" href="{% url 'AboutUs' %}#t6"-->
                <!--                            >Third Title goes here</a-->
                <!--                            >-->
                <!--                        </li>-->
                <!--                        &lt;!&ndash; <li><hr class="dropdown-divider" /></li>-->
                <!--                        <li>-->
                <!--                          <a class="dropdown-item" href="#">Separated link</a>-->
                <!--                        </li> &ndash;&gt;-->
                <!--                    </ul>-->
              </div>
              <!-- <li><a href="{% url 'AboutUs' %}" class="nav-link px-3 text-black">About</a></li> -->
              <li>
                <div class="btn-group nav-link">
                  <a
                    href="#footer"
                    class="text-decoration-none pl-3"
                    style="font-size: 1.4em; color: #4d4c4c"
                    >Contact</a
                  >
                </div>
              </li>
              <!-- add and update -->
              <!-- <li>
                    <a href="{% url 'E_N' %}" class="nav-link px-3 text-black"
                    >News</a
                    >
                </li> -->
              <!--                <li>-->
              <!--                    <a href="{% url 'gallery' %}" class="nav-link px-3 text-black"-->
              <!--                    >Gallery</a-->
              <!--                    >-->
              <!--                </li>-->
              {% if user.is_authenticated %}
              <li>
                <a
                  href="{% url 'logout' %}?next=/"
                  class="nav-link px-3 text-black"
                  >logout</a
                >
              </li>
              {% endif %}
            </ul>
          </div>

          <div
            style="gap: 40px; margin-top: 0.3em"
            class="d-flex align-self-start align-items-center"
          >
            <a aria-label="Chat on WhatsApp" href="https://wa.me/+989300615268">
              <div class="d-flex align-items-center" style="gap: 5px">
                <i
                  class="fab fa-whatsapp"
                  style="color: #4d4c4c; font-size: 1.4em"
                ></i>
                <p style="color: #4d4c4c; margin: 0">Whatsapp</p>
              </div>
            </a>
            <a aria-label="Gmail" href="#">
              <div class="d-flex align-items-center" style="gap: 5px">
                <p
                  style="
                    font-weight: bold;
                    font-size: 1.4em;
                    color: #4d4c4c;
                    margin: 0;
                  "
                >
                  @
                </p>
                <p style="color: #4d4c4c; margin: 0">Email message</p>
              </div>
            </a>
          </div>

          <!-- just icon, onclick -> show input to type search word -->
          <!--            <form-->
          <!--                    class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"-->
          <!--                    role="search"-->
          <!--                    method="post"-->
          <!--                    action="{% url 'result' %}"-->
          <!--            >-->
          <!--                <input-->
          <!--                        type="search"-->
          <!--                        class="form-control form-control-dark"-->
          <!--                        placeholder="Search..."-->
          <!--                        aria-label="Search"-->
          <!--                        id="search"-->
          <!--                        name="searchvalue"-->
          <!--                        required-->
          <!--                        autocomplete="off"-->
          <!--                />-->
          <!--                {% csrf_token %}-->
          <!--            </form>-->

          <!--            <div class="text-end">-->
          <!--                &lt;!&ndash; <button type="button" class="btn btn-outline-light me-2">-->
          <!--                  Login-->
          <!--                </button>-->
          <!--                <button type="button" class="btn btn-warning">Sign-up</button> &ndash;&gt;-->
          <!--                &lt;!&ndash; <button type="button" class="btn">-->
          <!--                  <div class="dropdown">-->
          <!--                    <button-->
          <!--                      class="btn btn-secondary dropdown-toggle"-->
          <!--                      role="button"-->
          <!--                      data-bs-toggle="dropdown"-->
          <!--                      aria-expanded="false"-->
          <!--                    >-->
          <!--                      select language-->
          <!--                    </button>-->

          <!--                    <ul class="dropdown-menu">-->
          <!--                      <li>-->
          <!--                        <a class="dropdown-item" href=""-->
          <!--                          >Persion - فارسی</a-->
          <!--                        >-->
          <!--                      </li>-->
          <!--                      <li>-->
          <!--                        <a class="dropdown-item" href="{% url 'enhome' %}"-->
          <!--                          >English - انگلیسی</a-->
          <!--                        >-->
          <!--                      </li>-->
          <!--                    </ul>-->
          <!--                  </div>-->
          <!--                </button> &ndash;&gt;-->
          <!--            </div>-->
        </div>
      </div>
    </header>
    <!--
write the header(like navbar)
-->

    {% block content %} {% endblock %}
    <!--
  write the footer
-->
    <div class="border-top mt-5">
      <footer class="px-5 pt-2 bg-dark" id="footer">
        <div class="d-flex justify-content-between">
          <div class="w-50">
            <ul class="nav flex-column">
              <div class="d-flex">
                <a
                  href="{% url 'enhome' %}"
                  class="nav-link px-3 text-white"
                  style="text-decoration: underline"
                  >Home</a
                >
                <a
                  href="{% url 'AboutUs' %}"
                  class="nav-link px-3 text-white"
                  style="text-decoration: underline"
                  >About</a
                >
              </div>
              <!-- <li class="nav-item mb-2"> -->
              <!-- </li> -->
              <!-- <li class="nav-item mb-2"> -->
              <!-- </li> -->
              <hr style="color: white; margin: 10px" />
              <li class="nav-item mb-2">
                <p href="#" class="nav-link py-2 text-white">
                  Not sure what you need? Just give us a shout!
                </p>
              </li>
              <li class="nav-item mb-2">
                <p href="#" class="nav-link py-2 text-white">
                  Address: KGS Headquarters, 4th Floor, Building No.3, Danesh 2
                  Street, Adab Square, Eram Complex, Eram Square, Shiraz
                </p>
              </li>
              <li class="nav-item mb-2">
                <p href="#" class="nav-link py-2 text-white">
                  Call No: +989300615268 (just on whatsapp)
                </p>
              </li>
              <li class="nav-item mb-2">
                <p href="#" class="nav-link py-2 text-white">Email:</p>
              </li>
            </ul>
          </div>

          <!-- <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link py-2 text-white">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link py-2 text-white">Features</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link py-2 text-white">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link py-2 text-white">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link py-2 text-white">About</a>
              </li>
            </ul>
          </div> -->

          <div class="w-50" style="text-align: center">
            <div>
              <form>
                <h5>Subscribe to our newsletter</h5>
                <!-- save into database or something to use later (export as excel) -->
                <p>
                  Stay up to date with latest news, announcements and events
                </p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden"
                    >Email address</label
                  >
                  <input
                    id="newsletter1"
                    type="text"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <button
                    class="btn btn-primary"
                    style="background-color: #61a870"
                    type="button"
                  >
                    Subscribe
                  </button>
                </div>
              </form>
              <div class="upComming d-none">
                <h6>Up Comming Events</h6>
                <a href="{% url 'E_N' %}">
                  <img
                    class="eventImg"
                    src="{% static 'img/people-4.jpg' %}"
                    alt=""
                  />
                </a>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Totam aliquam itaque tempore fugiat sequi ducimus aut. Fugit
                  ducimus reiciendis fugiat?
                </p>
              </div>
              <div class="social-media">
                <a
                  aria-label="Chat on WhatsApp"
                  href="https://wa.me/+989300615268"
                >
                  <i class="fab fa-whatsapp whatsapp-icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin linkedin-icon"></i>
                </a>
                <!-- <a href="https://www.linkedin.com/in/hasan-heydari-547791193/">
                  </a> -->
              </div>
            </div>
            <a href="{% url 'Contact' %}">
              <button
                class="btn btn-primary mt-5"
                style="background-color: #61a870; text-transform: uppercase"
                type="button"
              >
                order to KGS
              </button>
            </a>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-sm-row justify-content-between pt-4 border-top"
        >
          <p>© 2023 Company, Inc. All rights reserved.</p>
        </div>
      </footer>
    </div>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script
      src="{% static 'js/bootstrap.bundle.min.js' %}"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/3a2eaf6206.js' %}"></script>
  </body>
</html>
