{% extends 'baseEn.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/Event_News.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<!-- loader -->
<!-- <div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div> -->
<div class="tm-hero"></div>
<div class="container">
  {% for event in events %}
  <a class="seeLink" href="{% url 'seeEventNews' event.pk %}">
    <div class="content little-zooom">
      <div class="img-container">
        <img class="img" src="{{event.image.url}}" alt="eventImage" />
      </div>
      <div id="event_description">
        <p style="color: rgb(94, 94, 94); font-size: 1.6vmax">
          {{event.title}}
        </p>
      </div>
    </div>
  </a>
    <!-- <button type="button" class="btn btn-primary">
      <a href="{% url 'update-event' event.pk %}">Update</a>
    </button> -->
  {% endfor %} 
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script>
  $(window).on("load", function () {
    $("body").addClass("loaded");
  });

  var description = document.getElementById("event_description");

  function LeaveAnimation() {
    description.style.animation = "colorChangeRev .6s";
    description.style.animationFillMode = "backwards";
    description.style.animationDelay = "0.2s";
  }

  function EnterAnimation() {
    description.style.animation = "colorChange .6s";
    description.style.animationFillMode = "forwards";
    description.style.animationDelay = "0.2s";
  }
</script>
{% endblock %}
