{% extends 'baseEn.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/seeEventNews.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<div class="tm-hero"></div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="container content">
  <div class="discription row">
    <div style="text-align: justify;" class="col-7">
      <h2>{{event.title}}</h2>
      <div>{{event.description|linebreaksbr}}</div>
    </div>
    <div class="d-flex justify-content-center col-5">
      <img style="width: 100%; height: 20%; object-fit: contain;" src="{{event.image.url}}" alt="eventImage" />
    </div>
  </div>
  <!-- <div class="lastest">
    <ul class="list">
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, harum?
      </li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </div> -->
  <!-- <audio controls src="event.voice.url"></audio> -->
</div>
<div class="container">
  <!-- <audio controls class="d-block">
    src="event.voice.url"
    <source  />
    Your browser does not support the audio tag.
  </audio>
  <video src="event.attachment.url" class="d-block" controls></video> -->
</div>
<!-- Script For Loader -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="{% static 'js/index.js' %}"></script>
<script>
  $(window).on("load", function () {
    $("body").addClass("loaded");
  });
</script>
{% endblock %}
