{% extends 'baseEn.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/seeEventNews.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="container-fluid content">
  <div class="img-container">
    <img class="img" src="{{event.image.url}}" alt="" />
  </div>
  <div class="discription">
    <h2>{{event.title}}</h2>
    {{event.description}}
  </div>
  <div class="lastest">
    <ul class="list">
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, harum?
      </li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
    <!-- attachment and date  -->
  </div>
  <!-- <audio controls src="{{event.voice.url}}"></audio> -->
</div>
<div class="container">
  <audio controls class="d-block">
    <source src="{{event.voice.url}}" />
    Your browser does not support the audio tag.
  </audio>
  <video src="{{event.attachment.url}}" class="d-block" controls></video>
</div>
<!-- Script For Loader -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
