{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css\OwlCarousel2-2.3.4\dist\assets\owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css\OwlCarousel2-2.3.4\dist\assets\owl.theme.default.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/Event_News.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resultSearch.css' %}" />
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="{% url 'enhome' %}"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <img
              src="{% static 'img/logo1.w.png' %}"
              class="me-4"
              style="width: 70px; height: 50px"
            />
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <!-- <li>
              <a href="{% url 'enhome' %}" class="nav-link px-3 text-secondary"
                >Home</a
              >
            </li> -->
            <li>
              <div class="btn-group nav-link">
                <!-- <button type="button" class="btn btn-danger" href="#products">Products</button> -->
                <a
                  class="text-decoration-none text-white pl-3"
                  href="{% url 'products' %}"
                  >Products</a
                >
                <button
                  type="button"
                  class="btn btn-dark dropdown-toggle p-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}"
                      >Action</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}"
                      >Another action</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}"
                      >Something else here</a
                    >
                  </li>
                  <!-- <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </li> -->
                </ul>
              </div>
            </li>
            <!-- <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li> -->
            <li>
              <a href="{% url 'FAQs' %}" class="nav-link px-3 text-white"
                >FAQs</a
              >
            </li>
            <div class="btn-group nav-link">
              <!-- <button type="button" class="btn btn-danger" href="#products">Products</button> -->
              <a
                class="text-decoration-none text-white pl-3"
                href="{% url 'AboutUs' %}"
                >About</a
              >
              <button
                type="button"
                class="btn btn-dark dropdown-toggle p-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t1"
                    >About Catalog-Z Website Template</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t2"
                    >Left side of 2-Column content</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t3"
                    >Right-side Title goes here</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t4"
                    >Three-column title one</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t5"
                    >Title two of three-column</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'AboutUs' %}#t6"
                    >Third Title goes here</a
                  >
                </li>
                <!-- <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Separated link</a>
                </li> -->
              </ul>
            </div>
            <!-- <li><a href="{% url 'AboutUs' %}" class="nav-link px-3 text-white">About</a></li> -->
            <li>
              <a href="{% url 'Contact' %}" class="nav-link px-3 text-white"
                >Contact</a
              >
            </li>
            <li>
              <a href="{% url 'E_N' %}" class="nav-link px-3 text-white"
                >Events & News</a
              >
            </li>
          </ul>

          <form
            class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
            role="search"
            method="post"
            action="{% url 'result' %}"
          >
            <input
              type="search"
              class="form-control form-control-dark"
              placeholder="Search..."
              aria-label="Search"
              id="search"
              name="searchvalue"
              required
              autocomplete="off"
            />
            {% csrf_token %}
          </form>

          <div class="text-end">
            <!-- <button type="button" class="btn btn-outline-light me-2">
              Login
            </button>
            <button type="button" class="btn btn-warning">Sign-up</button> -->
            <!-- <button type="button" class="btn">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  select language
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href=""
                      >Persion - فارسی</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'enhome' %}"
                      >English - انگلیسی</a
                    >
                  </li>
                </ul>
              </div>
            </button> -->
          </div>
        </div>
      </div>
    </header>
    <!--
    write the header(like navbar)
    -->

    {% block content %} {% endblock %}
    <!--
      write the footer
    -->
    <div class="container border-top">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Features</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Features</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Features</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden"
                  >Email address</label
                >
                <input
                  id="newsletter1"
                  type="text"
                  class="form-control"
                  placeholder="Email address"
                />
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
            <div class="upComming">
              <h6>Up Comming Events</h6>
              <a href="{% url 'E_N' %}">
                <img
                  class="eventImg"
                  src="{% static 'img/people-4.jpg' %}"
                  alt=""
                />
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                aliquam itaque tempore fugiat sequi ducimus aut. Fugit ducimus
                reiciendis fugiat?
              </p>
            </div>
            <div class="social-media">
              <a
                aria-label="Chat on WhatsApp"
                href="https://wa.me/+989164043164"
              >
                <i class="fab fa-whatsapp whatsapp-icon"></i>
              </a>
              <a href="https://www.linkedin.com/in/hasan-heydari-547791193/">
                <i class="fab fa-linkedin linkedin-icon"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-sm-row justify-content-between py-4 mb-4 border-top"
        >
          <p>© 2023 Company, Inc. All rights reserved.</p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/3a2eaf6206.js' %}"></script>
  </body>
</html>
