{% extends 'baseEn.html' %} {% load static %} {% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- Script For Loader -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
