{% extends "baseEn.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}" />
<!-- Page Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<div
  class="tm-hero d-flex justify-content-center align-items-center"
  data-parallax="scroll"
  style="
    background-image: url('../../static/img/output.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  "
></div>
<div class="d-md-block">
  <div class="ids-box">
    <ul class="ids">
      <li class="ids-links" onclick="border(1)"><a href="#tp1">Topic 1</a></li>
      <li class="ids-links" onclick="border(2)"><a href="#tp2">Topic 2</a></li>
      <li class="ids-links" onclick="border(3)"><a href="#tp3">Topic 3</a></li>
    </ul>
  </div>
  <div class="faq">
    <h2>Frequently Asked Questions</h2>
    <h5 class="topics" id="tp1">Topic 1</h5>
    <div class="question">
      <strong class="question-title"
        >What is Lorem Ipsum? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Why do we use it? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Where does it come from? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
    </div>

    <h5 class="topics" id="tp2">Topic 2</h5>
    <div class="question">
      <strong class="question-title"
        >What is Lorem Ipsum? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Why do we use it? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Where does it come from? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
    </div>

    <h5 class="topics" id="tp3">Topic 3</h5>
    <div class="question">
      <strong class="question-title"
        >What is Lorem Ipsum? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Why do we use it? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>

    <div class="question">
      <strong class="question-title"
        >Where does it come from? <i class="icon fas fa-chevron-down"></i
      ></strong>
      <div class="answer">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/faq.js' %}"></script>

{% endblock %}
