{% extends 'baseEn.html' %} {% load static %} {% block content %}
<style>
  .zooom {
    transition: 0.3;
  }

  .zooom:hover {
    transform: scale(1.03);
  }
</style>
<div class="container">
  <div class="row">
    <div
      class="col-3 zooom my-3"
      style="max-height: 400px; max-width: 300px; object-fit: cover"
    >
      <img
        style="height: 100%; width: 100%"
        src="{% static 'gallery/img/tm-img-01.jpg' %}"
        alt=""
      />
    </div>
  </div>
  {% endblock %}
</div>
