{% extends 'baseEn.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
<link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="overlay">
  <div class="container">
    <div class="row justify-content-center">
      <div
        onclick="showImage(this)"
        class="col-12 col-sm-6 col-md-4 col-lg-3 zooom my-3 image"
      >
        <img
          style="height: 100%; width: 100%"
          src="{% static 'img/img-01.jpg' %}"
          alt=""
        />
      </div>
      <div
        onclick="showImage(this)"
        class="col-12 col-sm-6 col-md-4 col-lg-3 zooom my-3 image"
      >
        <img
          style="height: 100%; width: 100%"
          src="{% static 'img/img-01.jpg' %}"
          alt=""
        />
      </div>
      <div
        onclick="showImage(this)"
        class="col-12 col-sm-6 col-md-4 col-lg-3 zooom my-3 image"
      >
        <img
          style="height: 100%; width: 100%"
          src="{% static 'img/img-01.jpg' %}"
          alt=""
        />
      </div>
      <div
        onclick="showImage(this)"
        class="col-12 col-sm-6 col-md-4 col-lg-3 zooom my-3 image"
      >
        <video
          src="{% static 'video/hero.mp4' %}"
          class="image"
          onclick="showImage()"
        ></video>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/gallery.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  $(window).on("load", function () {
    $("body").addClass("loaded");
  });
</script>
{% endblock %}
