{% extends 'baseEn.html' %} {% load static %} {% block content %}

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
#btn {
    width: 190px;
    height: 56px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(255, 255, 255, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn > a {
  color: #009999;
}

.check-box{
    width: 56px;
    height: 56px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -32px;
    opacity: 0;
}

.check-box svg{
    width: 28px;
    margin: 14px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background-color: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active a {
    margin-right: 85px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}
</style>
<!-- Page Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<div
  class="tm-hero"
  style="background-image: url({% static 'img/output.jpg' %})"
></div>
<!-- <div
      class="tm-hero d-flex justify-content-center align-items-center"
      data-parallax="scroll"
      data-image-src="{% static 'img/hero.jpg' %}"
    >
      <form class="d-flex tm-search-form">
        <input
          class="form-control tm-search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success tm-search-btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div> -->

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-12 tm-text-primary">{{product.name}}</h2>
  </div>
  <div class="row tm-mb-90">
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <img src="{{product.image.url}}" alt="Image" class="img-fluid" />
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <div class="tm-bg-gray tm-video-details">
        <div class="d-flex justify-content-center">
          <!-- <div class="input-group mb-3"> -->
          <!-- <input type="email" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
          <!-- </div> -->
          <!-- <a href="https://mail.google.com/">Go to Gmail</a> -->
          <!-- <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=email@example.com&su=Subject&body=Body">Compose Email</a> -->
          <!-- <button type="button" class="btn btn-info">
            <a
              style="color: black"
              href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=hasan84heydari@gmail.com"
              target="_blank"
              >Compose Email</a
            >
          </button> -->
            <button id="btn">
                <a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=hasan84heydari@gmail.com" id="btnText">Submit</a>
                <div class="check-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                </div>
            </button>
        </div>
        <!-- <p class="mb-4">
              Please support us by making
              <a
                href="https://paypal.me/templatemo"
                target="_parent"
                rel="sponsored"
                >a PayPal donation</a
              >. Nam ex nibh, efficitur eget libero ut, placerat aliquet justo.
              Cras nec varius leo.
            </p>
            <div class="text-center mb-5">
              <a href="#" class="btn btn-primary tm-btn-big">Download</a>
            </div> -->
        <div class="mb-4 d-flex flex-wrap">
          <!-- <div class="mr-4 mb-2">
                <span class="tm-text-gray-dark">Dimension: </span
                ><span class="tm-text-primary">1920x1080</span>
              </div> 
              <div class="mr-4 mb-2">
                <span class="tm-text-gray-dark">Format: </span
                ><span class="tm-text-primary">JPG</span>
              </div> -->
        </div>
        <div class="mb-4">
          <h3 class="tm-text-gray-dark mb-3">License</h3>
          <p>
            Free for both personal and commercial use. No need to pay anything.
            No need to make any attribution.
          </p>
        </div>
        <div>
          <h3 class="tm-text-gray-dark mb-3">Tags</h3>
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block"
            >Bluesky</a
          >
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block"
            >Nature</a
          >
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block"
            >Background</a
          >
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block"
            >Timelapse</a
          >
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
          <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block"
            >Real Estate</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <h2 class="col-12 tm-text-primary">Related Photos</h2>
  </div>
  <div class="row mb-3 tm-gallery">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-01.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Hangers</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">16 Oct 2020</span>
        <span>12,460 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-02.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Perfumes</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">12 Oct 2020</span>
        <span>11,402 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-03.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Clocks</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">8 Oct 2020</span>
        <span>9,906 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-04.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Plants</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">6 Oct 2020</span>
        <span>16,100 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-05.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Morning</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">26 Sep 2020</span>
        <span>16,008 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-06.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Pinky</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">22 Sep 2020</span>
        <span>12,860 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-07.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>Bus</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">12 Sep 2020</span>
        <span>10,900 views</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img
          src="{% static 'img/img-08.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>New York</h2>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">4 Sep 2020</span>
        <span>11,300 views</span>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  $(window).on("load", function () {
    $("body").addClass("loaded");
  });

  const btn = document.querySelector("#btn");
        const btnText = document.querySelector("#btnText");

        btn.onclick = () => {
            btnText.innerHTML = "Thanks";
            btn.classList.add("active");
          };
          console.log(btn.classList);

</script>
{% endblock %}
