{% extends 'baseEn.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/seeEventNews.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/product.css' %}" /> -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="container-fluid content">
  <div class="img-container">
    <img class="img" src="{% static 'img/img-01-big.jpg' %}" alt="" />
    <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste cum
    necessitatibus doloribus maxime possimus sequi nemo earum hic, distinctio
    ratione eaque libero ullam rerum modi excepturi eius fugit maiores quidem. -->
  </div>
  <div class="discription">
    <h2>title</h2>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae praesentium
    inventore mollitia, fugit vel nisi illum aliquam animi perspiciatis
    consequatur voluptates deleniti facilis quo magnam hic itaque libero
    similique delectus dolorum ipsum? Id, voluptas repellendus? Eius assumenda
    libero atque? Eligendi architecto molestiae velit omnis perferendis cumque
    ducimus veritatis cum. Veniam magnam placeat doloribus eligendi? Explicabo,
    possimus eligendi eius cumque vitae adipisci. Optio labore accusamus
    explicabo odio quidem cum eum quisquam aspernatur unde harum, quos
    architecto adipisci voluptatem voluptas consectetur beatae aliquid excepturi
    porro quo minima animi quod, ad soluta. Quaerat quod quibusdam veniam
    dignissimos sequi illo dicta eos, animi rerum.
  </div>
  <div class="lastest">
    <ul class="list">
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, harum?
      </li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </div>
</div>
<!-- Script For Loader -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
